:root {
    --primary-color: #3498db;
    --secondary-color: #2ecc71;
    --font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --font-size-base: 16px;
    --line-height-base: 1.5;
}
header {
    background-color: var(--primary-color);
    color: #ffffff;
    padding: 20px;
    text-align: center;
}
ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 15px;
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: rgb(36, 31, 31);
    text-align: center;
}
span {
    font-family: var(--font-family);
    font-size: var(--font-size-base);
    line-height: var(--line-height-base);
    color: var(--primary-color);
}
h1 {
    font-family: var(--font-family);
    font-size: 2.5rem;
    margin: 0;
}
main {
    padding: 20px;
}
footer {
    background-color: var(--secondary-color);
    color: #ffffff;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
section {
    margin-bottom: 20px;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 16px;
}
.grid-item-title {
    grid-column: 1 / -1;
    text-align: center;
}
.grid-item {
    background-color: var(--primary-color);
    color: #ffffff;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
}
img {
    max-width: 100%;
    height: 200px;
    border-radius: 8px;
}
h2 {
    font-family: var(--font-family);
    font-size: 2rem;
    margin-bottom: 10px;
}
p {
    font-family: var(--font-family);
    font-size: var(--font-size-base);
    line-height: var(--line-height-base);
    margin-bottom: 15px;
}
